
@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    /* Asegura que tanto html como body ocupen el 100% del alto del viewport */
    height: 100%;
    /* Elimina cualquier margen o padding por defecto que puedan causar barras de desplazamiento no deseadas */
    margin: 0;
    padding: 0;
    /* Comportamiento de la imagen de fondo */
    background-image: url('../../assets/Campo.png');
    background-size: cover; /* ¡Esta es la clave! Escala la imagen para cubrir todo el elemento */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en el elemento */
    background-attachment: fixed; /* Opcional: Hace que la imagen de fondo sea fija al desplazarse */
    
    /* Fuente que ya tenías */
    font-family: 'Numans', sans-serif;
}
    
.container{
    height: 100%;
    align-content: center;
}

#pagesContainer{
    /* height: 100%;
    align-content: center;
    background-color: white; */

    width: 100%;
    max-width: 95%; /* Ancho máximo del contenedor externo */
    margin: 0 auto; /* Centrar el contenedor externo en la página */
    padding: 20px;
    background-color: white;
}

@media (max-width: 768px) {
    #pagesContainer {
      padding: 15px;
    }
  }
  
  @media (max-width: 576px) {
    #pagesContainer {
      padding: 10px;
    }
  }
    
.card{
    height: auto;
    margin-top: 150px;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
    
.card-header h3{
    color: white;
}
    
.input-group span{
    width: 50px;
    background-color: #081165;
    color: white;
    border:1px !important;
}
    
input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}
    
.remember{
    color: white;
}
    
.remember input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}
    
.login_btn{
    color: white;
    background-color: #081165;
    width: 100px;
}
    
.login_btn:hover{
    color: black;
    background-color: white;
}

/* NavBar Styles */
.text-body-emphasis{
    align-content: center;
}

/* Tables styles */
#containerPagesTable{
    overflow-y:scroll;
    max-height: 60vh;
}

.table tbody tr.highlight td {
    background-color: #ddd;
}